<div class="bg-slate-300 w-3/4 mx-auto mt-6 p-6">
  <div>
    <input type="checkbox" name="mostrar" id="mostrar" ngModel="mostrar">
    <label for="mostrar">Activo</label>
  </div>
  <nav class="mt-10 bg-slate-400 w-80" *ngIf="mostrar; else bloque">
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt=""></div>
    <div class="p-6 bg-white">
        <h3 class="my-3 text-2xl">Angular</h3>
        <p class="text-slate-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, blanditiis sapiente. Necessitatibus, laboriosam! Eius hic pariatur culpa, facilis aspernatur adipisci est fugit fuga minus, quo voluptatibus cumque fugiat dolor eligendi.</p>
    </div>
  </nav>
  <ng-template #bloque>
    <nav class="mt-10 bg-slate-400 w-80">
    </nav>
  </ng-template>
</div>
<router-outlet></router-outlet>
